@import "../../scss/var";
.call {
  position: relative;
  height: 100%;
  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    .user-video {
      width: 100%;
      height: 100%;
    }
    .my-video {
      position: absolute;
      top: 0.3rem;
      right: 20%;
      width: 15rem;
      box-shadow: 0 0 2px 2px #fff;
    }
  }
  .hang-up {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: $danger;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
  }
  .call {
    @extend .hang-up;
    background-color: $success !important;
    border: 1px solid #fff;
    transition: $transition;
    &.calling {
      transform: scale(2);
      bottom: 5rem;
      animation: calling 1s infinite ease-in-out;
    }
  }
}
@keyframes calling {
  0% {
    box-shadow: 0 0 1px 3px $success;
  }
  50% {
    box-shadow: 0 0 7px 15px $success;
  }
}
